#form2 {
    width: 450px;
    border: 2px solid rgb(0, 0, 0);
    margin: 50px auto;
    padding: 16px;
}
#form2 div {
    margin-bottom: 15px;
}
#form2 input {
    width: 400px;
    padding: 20px;
}
 #name, #email, #password, #ConfirmPassword, #tel, #gender {
    width: 350px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(94, 0, 0);
 }
 .btn, #ShowPass {
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color:  rgb(53, 153, 184);
    border-radius: 5px;
    color: rgb(12, 0, 124);
 }